[submodule "public/earthworks"]
	path = public/earthworks
	url = git://github.com/bordy277/earthworks.git
[submodule "public/trimac"]
	path = public/trimac
	url = git://github.com/bordy277/trimac.git
