html {}
body {
	padding: 0;
	margin: 0;
	font-family: "avenir";
}
a {
	font-size: 11px;
	color: #777;
	cursor: pointer;
	text-decoration: none;

}
a:hover {
	color: #00a2e1;
	font-weight: bold;
}
h1 {
	color: #adadad;
	font-size: 30px;
	font-weight: lighter;
}
h2 {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	width: 960px;
}
.clear {
	clear: both;
}


.container {}
.outer {}


/* Top Styles*/

.header {
	height: 300px;
	width: 100%;
}
.center {
	width: 1024px;
	margin: 0 0 0 240px;
	height: 100%;
}
.logo {
	float: left;
	height: 300px;
	width: 300px;
}
.title {
	float: left;
	height: 300px;
	width: 300px;
}
.description {
	height: 100px;
	width: 100%;
	float: left;
}
.select {
	height: 20px;
	width: 200px;
	text-align: right;
}
.select_big {
	height: 31px;
	width: 200px;
	text-align: right;
	line-height: 11px;
}
.menu {
	height: 85px;
	width: 220px;
	float: left;
	position: absolute;
	margin: 296px 0 0 0;
	position: fixed;
}
.bar {
	height: 65px;
	width: 5px;
	background-color: #00a2e1;
	float: left;
	margin: 296px 0 0 220px;
	position: absolute;
	position: fixed;
}

/* Top Styles End */



/* Content Styles */

.content {
	width: 960px;
	height: 8000px;
	float: left;
}
.office {
	width: 960px;
	height: 100%;
	display: none;
}
.apps {
	width: 960px;
	height: 100%;
	display: none;
}
.css {
	width: 960px;
	height: 100%;
	display: none;
}
.clipboard {
	width: 960px;
	height: 100%;
	display: none;
}
.branding{
	width: 960px;
	height: 100%;
	display: none;
}
.border {
	height: 1px;
	width: 650px;
	background-color: #000;
	float: left;
}
.colors {
	height: 300px;
	width: 960px;
	float: left;
}
.space {
	height: 50px;
	width: 100%;
	float: left;
	margin: 0 0 10ox 0;
}
.buttons {
	height: 300px;
	width: 650px;
	float: left;
}
.tabs {
	height: 300px;
	width: 650px;
	float: left;
}
.icons {
	height: 300px;
	width: 650px;
	float: left;
}
.chart {
	height: 500px;
	width: 940px;
	float: left;
}
.imputs {
	height: 140px;
	width: 940px;
	float: left;
}
.nav {
	height: 140px;
	width: 960px;
	float: left;
}
.location {
	height: 140px;
	width: 960px;
	float: left;
}
.box{
	height: 200px;
	width: 960px;
	float: left;
}
.tasks-buttons {
	height: 300px;
	width: 960px;
	float: left;
}
.main-buttons {
	height: 700px;
	width: 960px;
	float: left;
}
.user {
	height: 250px;
	width: 960px;
	float: left;
}

.task-inputs {
	height: 650px;
	width: 960px;
	float: left;
}
.check-inputs {
	height: 330px;
	width: 960px;
	float: left;
}
.task-tabs {
	height: 500px;
	width: 960px;
	float: left;
}
.flags {
	height: 200px;
	width: 960px;
	float: left;
}
.login {
	height: 500px;
	width: 960px;
	float: left;
}
.conservis {
	height: 800px;
	width: 960px;
	float: left;
}
.ag {
	height: 500px;
	width: 960px;
	float: left;
}
.stripes {
	height: 500px;
	width: 960px;
	float: left;
}
.iconography {
	height: 800px;
	width: 960px;
	float: left;
}
.cotton{
	height: 450px;
	width: 960px;
	float: left;
}
.harvest {
	height: 300px;
	width: 960px;
	float: left;
}
.palette {
	height: 360px;
	width: 960px;
	float: left;
}
.text {
	height: 150px;
	width: 960px;
	float: left;
}
.insight {
	height: 250px;
	width: 960px;
	float: left;
}
.button {
	height: 40px;
	width: 960px;
	float: left;
	margin: 0 0 40px 0;
}
.maps {
	height: 725px;
	width: 960px;
	float: left;
}
.clipboard-nav {
	height: 600px;
	width: 960px;
	float:left;
}
.filter{
	height: 200px;
	width: 960px;
	float:left;
}
/* Content Styles End */

/* Office CSS */
.kern {
	height: 100px;
	width: 40px;
	float: left;
}
.wrap {
	width:960px;
	height: 300px;
	float: left;
}
.big-wrap {
	width:960px;
	height: 600px;
	float: left;
}
.small-wrap {
	width:960px;
	height: 100px;
	float: left;
}
.large-gray {
	height: 40px;
	width: 150px;
	float: left;
	background-color: #d0d0d0;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	color: #282c33;
	font-size: 12px;
	box-shadow: inset 0px 1px 0px #fff;
	border: solid 1px;
	border-color: #adadad;
	cursor: pointer;
}
.large-gray:active {
	background-color: #777;
}
.large-blue {
	height: 40px;
	width: 150px;
	float: left;
	background-color: #282c33;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 12px;
	box-shadow: inset 0px 1px 0px #d0d0d0;
	border: solid 1px;
	border-color: #000;
	cursor: pointer;
}
.large-blue:active {
	background-color: #777;
}
.print {
	height: 40px;
	width: 150px;
	float: left;
	background-color: #282c33;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 13px;
	box-shadow: inset 0px 1px 0px #d0d0d0;
	border: solid 1px;
	border-color: #000;
	cursor: pointer;
}
.print:active {
	background-color: #777;
}
.small-gray {
	height: 40px;
	width: 75px;
	float: left;
	background-color: #d0d0d0;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	color: #282c33;
	font-size: 12px;
	box-shadow: inset 0px 1px 0px #fff;
	border: solid 1px;
	border-color: #adadad;
	cursor: pointer;
}
.small-blue {
	height: 40px;
	width: 75px;
	float: left;
	background-color: #282c33;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 12px;
	box-shadow: inset 0px 1px 0px #d0d0d0;
	border: solid 1px;
	border-color: #000;
	cursor: pointer;
}
.small-blue:active {
	background-color: #777;
}
.small-gray:active {
	background-color: #777;
}
.text-input {
	height: 25px;
	width: 265px;
	padding: 0 0 0 10px;
	float: left;
	background-color: #d0d0d0;
	box-shadow: inset 1px 1px 1px #adadad;
	border: none;
}
.drop {
	height: 25px;
	width: 275px;
	float: left;
	background-color: #d0d0d0;
	border-color: #adadad;
}
.website {
	height: 700px;
	width: 1024px;
	float: left;
}
.download {
	height: 40px;
	width: 150px;
	float: left;
	background-color: #d0d0d0;
	text-align: center;
	line-height: 40px;
	color:#282c33;
	font-size: 12px;
}
.square {
	height: 300px;
	width: 300px;
	float: left;
}
.square-button {
	height: 236px;
	width: 236px;
	float: left;
	border-radius: 5px;
	background-color: #f5f5f5;
	border: solid 1px;
	border-color: #d0d0d0;
	box-shadow: inset 0px 1px 0px #fff;
	cursor: pointer;
}
.square-button:active {
	background-color: #00a2e1;
}
.oval-button {
	height: 65px;
	width: 110px;
	float: left;
	background-color: #00a2e1;
	border-radius: 35px;
	border: solid 1px;
	border-color: #d0d0d0;
	box-shadow: inset 0px 1px 0px #fff;
	text-align: center;
	line-height: 65px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
.oval-button.gray {
	background-color: #f5f5f5;
	color: #282c33;
}
.oval-button:active {
	background-color: #777;
}
.text-css {
	height: 65px;
	width: 410px;
	float: left;
	border-radius: 5px;
	background-color: #d0d0d0;
	border: none;
	box-shadow: inset 0px 1px 4px #adadad;
	padding: 0 0 0 20px;
	font-size: 18px;
}
.complete {
	height: 65px;
	width: 236px;
	float: left;
	background-color: #d0d0d0;
	box-shadow: inset 0px 1px 4px #adadad;
	border-radius: 5px;
	border: none;
	background-image: url("../images/complete.png");
	background-repeat: none;
	cursor: pointer;
}
.incomplete {
	height: 65px;
	width: 236px;
	float: left;
	background-color: #d0d0d0;
	box-shadow: inset 0px 1px 4px #adadad;
	border-radius: 5px;
	border: none;
	background-image: url("../images/incomplete.png");
	background-repeat: none;
}
.tab-white {
	height: 35px;
	width: 135px;
	border: solid 1px;
	border-color: #d0d0d0;
	color: #00a2e1;
	font-size: 12px;
	text-align: center;
	line-height: 35px;
	float: left;
	margin: 0 2px 0 190px;
	box-shadow: 0px 0px 8px #b6b6b6;
	cursor: pointer;
}
.tab-gray {
	height: 37px;
	width: 135px;
	background-color: #d0d0d0;
	color: #9b9a9a;
	font-size: 12px;
	float: left;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}
.border-gray {
	height: 20px;
	width: 650px;
	background-color: #fff;
	float: left;
	margin: -2px 0 0 0;
	border-top: solid 1px;
	border-color: #d0d0d0;
	z-index: 5;
}
.login-box {
	height: 170px;
	width: 300px;
	float: left;
	border-radius: 5px;
	background-color: #282c33;
	padding: 17.5px 32.5px 37.5px 32.5px;
}
.white-input {
	height: 65px;
	width: 280px;
	float: left;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: inset 0px 1px 2px #adadad;
	padding: 0 0 0 20px;
	border: none;
	margin: 20px 0 0 0;
	font-size: 16px;
}

/* Ofice CSS End*/

/* Footer Styles */

.footer {
	height: 100px;
	width: 100%;
}

/* Footer Styles End */





















