html, body {
	padding: 0;
	margin: 0;
	background: #272822;
}
h1, h2, p {
	letter-spacing: .025em;
	font-weight: 400;
}
h2 {
	font-weight: 100;
}
.centerAlign {
	text-align: center;
}
#message {
	margin: 0 10%;
}
.open {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.mont {
	font-family: 'Montserrat', sans-serif;
}
.white {
	color:#f1f1f1;
}
.yellow {
	color:#e6db74;
	font-size: 24px;
}
.blue {
	color: #66d9ef;
}
.red {
	color:#f92772;
}