body {
	margin: 0;
	padding: 0;
	font-family: helvetica; 
	color: #222222;
	font-size: 14px;
}
h1 {
	font-size: 36px;
	margin: 0 0 0 0;
}
h2 {
	font-size: 18px;
	margin: 0 0 15px 0;
	color: #009999;
	font-style: italic;
}
p {
	font-size: 14px;
	margin: 0 0 15px 0;
	line-height: 20px;
}
.work p {
	color: #009999;
}
ul {
	padding:0;
	list-style-type: none;
}
a, a:visited {
	color: #009999;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div:hover {
	background-color: #ffffff;
	color:#222222;
}
.clear {
	clear: both;
}
.container {}
.outer {
	margin: 0 0 1px 0;
}
.center {
	width: 960px;
	margin: auto;
	background-color: #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
.logo {
	width: 300px;
	height: 80px;
	float: left;
	padding: 20px 0 0 0;
	font-size: 40px;
	font-weight: bold;
}
.nav-item {
	width: 134px;
	height: 60px;
	float: right;
	margin: 0 0 0 1px;
	padding: 40px 0 0 30px;
	font-weight: bold;
	cursor: pointer;
}

.nav-item.active, .nav-item:hover {
	background-color: #222222; 
	color: #ffffff;
}
.content {
	width: 270px;
	height: 470px;
	padding: 15px;
	background-color: #222222;
	color: #ffffff;
	float: left;
	margin: 0 1px 0 0;
}
.content-me {
	width: 629px;
	height: 470px;
	background-color: #222222;
	color: #ffffff;
	float: left;
	margin: 0 0 0 301px;
	position: absolute;
	padding: 15px;
}
.content-image {
	width: 659px;
	height: 500px;
	float: left;
	overflow: hidden;
	margin: 0 0 0 301px;
	position: absolute;
}
#area:hover .controls {
	display: block;
}
.content-image img {
	margin-left:-690px;
	position: absolute;
	z-index: 0;
	width: 100%;
	box-shadow: 0 0 30px #000000;
	-moz-box-shadow: 0 0 30px #000000;
	-webkit-box-shadow: 0 0 30px #000000;
}
.message {
	font-size:  65px;
	color: #ffffff;
	position: absolute;
	font-weight: bold;
	padding: 20px 30px;
	line-height: 55px;
	z-index: 2;
}
.bottom-content {
	width: 299px;
	height: 270px;
	padding: 15px;
	background-color: #222222;
	float: left;
	margin: 0 0 0 1px;
	color: #ffffff;
}
.bottom-content.small {
	width: 270px;
	margin: 0;
}
.center.footer {
	height: 100px;
	margin: 15px auto 0;
}
.copyright-text {
	font-size: 11px;
	float: right;
}
.social {
	float: left;
}
.outer.grey {
	background-color: #222222;
}
.black2 {
	display: none;
}
.white2 {
	display: block;
}
.small:hover .black2 {
	display: block;
}
.small:hover .white2 {
	display: none;
}
.ss-icon {
	margin:0 10px 0 0;
	font-size: 20px;
	float: left;
}
.contact a, .contact a:hover, .contact a:visited, .friends a, .friends a:hover, .friends a:visited  { 
	color: #ffffff;
}
 .contact:hover a, .contact:hover a:hover, .contact:hover a:visited, .friends:hover a, .friends:hover a:hover, .friends:hover a:visited { 
	color: #222222;
}
.contact a, .friends a {
	margin:-3px 0 0 0;
	display: block;
	float: left;
	font-size: 18px;
}

/* images */
.controls {
	position: absolute;
	background-color:  #000000;
	opacity: .9;
	padding:15px;
	margin:437px 0 0 546px;
	z-index: 2;
	display:none;
}
.current, .total, .control-text {
	float:left;
	color: #ffffff;
	margin: 3px 2px 0 2px;
}
.next, .prev {
	width: 27px;
	height: 23px;
	float:left;
	cursor: pointer;
}
.no {
	opacity: .2;
	cursor: auto;
}
.next {
	background-image: url('../images/right.png');
	margin:0 0 0 20px;
}

.prev {
	background-image: url('../images/left.png');
	margin:0 20px 0 0;

}
.next:hover, .prev:hover, .current:hover, .total:hover, .control-text:hover, .controls:hover {
	background-color: #000000;
	color: #ffffff;
}
#first {
	margin-left:0;
	z-index: 1;
}
.mnwhite, .mnblack {
	float:left; 
	margin:-10px 7px 0 0;
}
.mnblack {
	display: none;
}
.mnwhite {
	display: block;
}
.contact:hover .mnwhite {
	display: none;
}
.contact:hover .mnblack {
	display: block;
}
.work-item {
	cursor: pointer;
	padding:5px 15px;
	margin: 0 -15px;
	width: 270px;
}
.work-item.active, .work-item:hover {
	color:#ffffff;
	background-color: #009999;
}
.resume-content {
	height: 470px;
	width: 629px;
	background-color: #222222;
	color: #ffffff;
	padding: 15px;
	position: absolute;
	margin: 0 0 0 301px;
}






.flag {float:right; width:36px; height:18px; margin:0 0 0 10px;}
.blue {width:15px; height:10px; background-color:#182750; float:left;}
.red {height:2px; background-color: #a21b21;}
.white {height:2px; background-color: #f5eccd;}



















