body {
	margin: 0;
	padding: 0;
	font-family: helvetica; 
	color: #101010;
	font-size: 14px;
}
h1 {
	font-size: 36px;
	margin: 0 0 10px 0;
	padding:0 0 15px 0;
	border-bottom: 1px dotted #101010;
	color: #870300;
}
h2 {
	font-size: 18px;
	margin: 0 0 15px 0;
	color: #870300;
}
p {
	font-size: 14px;
	margin: 15px 0;
	line-height: 20px;
}
.work p {
	color: #000000;
}
ul {
	padding:0;
	list-style-type: none;
}
a, a:visited {
	color: #870300;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.clear {
	clear: both;
}
.container {
}
.container img {
	margin: 0 0 30px 0;
}
.outer {
	margin: 0 0 1px 0;
}
.center {
	position: relative;
	width: 960px;
	height: 100%;
	margin: auto;
	background-color: #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
.logo {
	width: 240px;
	height: 200px;
	font-size: 32px;
	font-weight: bold;
}
.nav {
	margin:0 0 30px 0;
}
.nav-item {/*
	font-weight: bold;*/
	cursor: pointer;
	padding: 10px 0;/*
	border-bottom: 1px dotted #ffffff;*/
}

.nav-item.active, .nav-item:hover {
	background-color: #101010; 
	color: #ffffff;
}
.content {
	width: 240px;
	padding: 0 0 0 30px;
	background-color: #000000;
	color: #ffffff;
	float: left;
	margin: 0 30px 0 0;
	position: fixed;
	top: 0;
	bottom: 0;
}
.content-me {
	width: 629px;
	color: #101010;
	float: left;
	margin: 0 0 0 300px;
}
.content-description {
	width: 660px;
	float: left;
	margin: 55px 0 0 300px;
	color: #101010;
}
.content-image {
	width: 659px;
	height: 499px;
	overflow: hidden;
	margin: 0 0 0 300px;
	position: relative;
}
.images {
	margin: 0 0 30px 0;
}
#area:hover .controls {
	display: block;
}
.content-image img {
	margin-left:-690px;
	height: auto;
	/*z-index: 0;*//*
	box-shadow: 0 0 30px #101010;
	-moz-box-shadow: 0 0 30px #101010;
	-webkit-box-shadow: 0 0 30px #101010;
*/}
.message {
	font-size:  65px;
	color: #ffffff;
	position: absolute;
	font-weight: bold;
	padding: 20px 30px;
	line-height: 55px;
	z-index: 2;
}
.bottom-content {
	width: 314px;
	float: left;
	color: #101010;
	margin: 0 0 200px 0;/*
	border-top: 1px dotted #101010;*/
}
.bottom-area {
	float: left;
	width: 659px;
	margin: 30px 0 0 300px;
}
.bottom-content.small {
	width: 270px;
	margin: 0;
}
.footer {
	padding: 50px 0 30px;
}
.copyright-text {
	font-size: 11px;
	float: right;
}
.social {
	float: left;
}
.ss-icon {
	margin:0 10px 0 0;
	font-size: 20px;
	float: left;
}
.contact a, .contact { 
	color: #000;
}
.friends a, .friends {
	color: #000;
}
.contact a, .friends a {
	margin:-3px 0 0 0;
	display: block;
	float: left;
	font-size: 14px;
}

/* images */
.controls {
	position: absolute;
	background-color:  #ffffff;
	color: #101010;
	opacity: .9;
	padding:10px;
	margin:675px 0 0 562px;
	z-index: 2;
}
.current, .total, .control-text {
	float:left;
	color: #101010;
	margin: 3px 2px 0 2px;
}
.next, .prev {
	width: 15px;
	height: 15px;
	float:left;
	cursor: pointer;
}
.no {
	opacity: .2;
	cursor: auto;
}
.next {
	background-image: url('../images/right.png');
	margin:0 0 0 20px;
}

.prev {
	background-image: url('../images/left.png');
	margin:0 20px 0 0;

}
.next:hover, .prev:hover, .current:hover, .total:hover, .control-text:hover, .controls:hover {
	background-color: #ffffff;
	color: #101010;
}
#first {
	margin-left:0;
	z-index: 1;
}
.mnwhite, .mnblack {
	float:left; 
	margin:-10px 7px 0 0;
}
.contact:hover .mnblack {
	display: block;
}
.work-item {
	cursor: pointer;
	padding:5px 15px;
	margin: 0 -15px;
	width: 225px
}
.work-item.active, .work-item:hover {
	color:#870300;
	background-color: #000;
}
.resume-content {
	width: 629px;
	color: #101010;
	float: left;
	margin: 0 0 0 300px;
}

.res-col {
	width:209px; 
	float: left;
	margin: 0 0 0 125px;
}

.education {
	float: left;

}
.employment {
	float: right;
	margin: 0 0 0 252px;
}







.flag {float:right; width:36px; height:18px; margin:0 0 0 10px;}
.blue {width:15px; height:10px; background-color:#182750; float:left;}
.red {height:2px; background-color: #a21b21;}
.white {height:2px; background-color: #f5eccd;}



















